body {
  background-image: url('img/craft-texture-brown-journal-note.jpg');
  background-repeat: repeat;
  background-position: center;
}

#thankyou {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;;
  margin-top: -100px;
  margin-left: -150px;
  cursor: pointer;
}

.clicked {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0) rotate(0deg);
}

.gift {
  display: block;
  position: absolute;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  z-index: 0;
}

.card-open {
  opacity: 1;
  width: 480px;
  height: 480px;
  margin-top: -240px;
  margin-left: -240px;
  transition: all .5s .2s;
}

.openr {
  > .tp {
    transform: translateY(-30px) rotate(15deg);
    opacity: .5;
    transition: all .3s 0s;
  }

  > .bt {
    transform: translateY(30px) rotate(-15deg);
    opacity: .5;
    transition: all .3s 0s;
  }

  > .card {
    .card-open;
  }
}

.openl {
  > .tp {
    transform: translateY(-30px) rotate(-15deg);
    opacity: .5;
    transition: all .3s 0s;
  }

  > .bt {
    transform: translateY(30px) rotate(15deg);
    opacity: .5;
    transition: all .3s 0s;
  }

  > .card {
    .card-open;
  }
}

.card {
  display: block;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 0;
  height: 0;
  opacity: 0;
  margin-top: 0;
  margin-left: 0;
  transition: all .5s 0s;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

.tp {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s .4s;
  pointer-events: none;
  z-index: 0;
  opacity: .8;
}

.bt {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s .4s;
  pointer-events: none;
  z-index: 0;
  opacity: .8;
}

.gift01 {
  top: 30%;
  left: 25%;

  .card {
    background-image: url("img/cards/藝軒謝卡.jpg");
    background-size: 100% auto;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox01-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox01-bottom.png");
    background-size: auto 100%;
  }
}

.gift02 {
  top: 15%;
  left: 40%;

  .card {
    background-image: url("img/cards/耀祖厚蓉謝卡.jpeg");
    background-size: 100% auto;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox02-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox02-bottom.png");
    background-size: auto 100%;
  }
}

.gift03 {
  top: 15%;
  left: 60%;

  .card {
    background-image: url("img/cards/Sabrina謝卡.jpg");
    background-size: 100% auto;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox03-top.png");
    background-size: 100% auto;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox03-bottom.png");
    background-size: 100% auto;
  }
}

.gift04 {
  top: 30%;
  left: 75%;

  .card {
    background-image: url("img/cards/繼芬謝卡.jpg");
    background-size: 100% auto;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox04-top.png");
    background-size: 100% auto;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox04-bottom.png");
    background-size: 100% auto;
  }
}

.gift05 {
  top: 50%;
  left: 80%;

  .card {
    background-image: url("img/cards/副昌謝卡.jpg");
    background-size: auto 100%;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox05-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox05-bottom.png");
    background-size: auto 100%;
  }
}

.gift06 {
  top: 70%;
  left: 75%;

  .card {
    background-image: url("img/cards/姝彤謝卡.png");
    background-size: 100% auto;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox06-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox06-bottom.png");
    background-size: auto 100%;
  }
}

.gift07 {
  top: 85%;
  left: 60%;

  .card {
    background-image: url("img/cards/美智謝卡.jpg");
    background-size: auto 100%;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox07-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox07-bottom.png");
    background-size: auto 100%;
  }
}

.gift08 {
  top: 85%;
  left: 40%;

  .card {
    background-image: url("img/cards/雲翔謝卡.jpg");
    background-size: auto 100%;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox08-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox08-bottom.png");
    background-size: auto 100%;
  }
}

.gift09 {
  top: 70%;
  left: 25%;

  .card {
    background-image: url("img/cards/Helen謝卡.jpeg");
    background-size: auto 100%;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox09-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox09-bottom.png");
    background-size: auto 100%;
  }
}

.gift10 {
  top: 50%;
  left: 20%;

  .card {
    background-image: url("img/cards/佳恩謝卡.jpg");
    background-size: auto 100%;
  }

  .tp {
    background-image: url("img/giftboxes/giftbox10-top.png");
    background-size: auto 100%;
  }

  .bt {
    background-image: url("img/giftboxes/giftbox10-bottom.png");
    background-size: auto 100%;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(10deg);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0) rotate(-10deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0) rotate(5deg);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0) rotate(-5deg);
  }
}

@media (max-width: 768px) {
  #thankyou {
    position: relative;
    top: auto;
    margin-top: 0px;
  }

  .gift {
    position: relative;
    margin-top: 0;
  }

  .gift01, .gift02, .gift03, .gift04, .gift05, .gift06, .gift07, .gift08, .gift09, .gift10 {
    top: auto;
    left: 50%;
  }

  .card-open {
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
  }
}

@media only screen and (min-width: 2000px) {
  .card-open {
    width: 960px;
    height: 960px;
    margin-top: -480px;
    margin-left: -480px;
  }
  .gift {
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 400px;
  }
  .tp {
    width: 400px;
    height: 400px;
  }
  .bt {
    width: 400px;
    height: 400px;
  }
}